.aboutpage-container {
    background-color: rgb(248,249,250);
    padding: 5%;
    min-height: 90%;
    width: 100%;
}

.aboutpage-desc {
    width: 60%;
    margin: auto;
}

.aboutpage-problem {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 2%;
}

.aboutpage-solution {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 2%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.aboutpage-people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aboutpage-person {
    padding: 1% 2%;
}